.post-image {
    height: 168px;
    width: auto;
    @media (min-width: 992px) {
        height: 268px;
    }
}

.post-footer {
    margin-left: -176px;
}

.view-post {
    bottom: 20px;
    right: 6px;
}

.load-more {
    bottom: 20px;
    right: calc(50% - 78px);
}

.slide-slow-enter, .slide-slow-leave-to {
    opacity: 0;
    transform: scale(0);
}

.slide-slow-enter-to {
    opacity: 1;
    transform: scale(1);
}

.slide-slow-move {
    opacity: 1;
    transition: all 0.5s;
}